@import "tailwindcss";

:root {
  --bg-primary: #1a1c1e;
  --accent: #009fb2;
  --nav-bg: #2f3133;
  --border: #454749;
  --teritary: #000000;
}

@theme inline {
  --color-bg-primary: var(--bg-primary);
  --color-nav-bg: var(--nav-bg);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-teritary: var(--teritary);
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--bg-primary);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 10px;
  transition: background 0.2s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

*::-webkit-scrollbar-corner {
  background: var(--bg-primary);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--border) var(--bg-primary);
}